/* universal styles */

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(https://fonts.gstatic.com/s/nunitosans/v3/pe03MImSLYBIv1o4X1M8cc8GBs5tU1E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://fonts.gstatic.com/s/comfortaa/v12/1Ptsg8LJRfWJmhDAuUs4TYFq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url(https://fonts.gstatic.com/s/comfortaa/v12/1Ptpg8LJRfWJmhDAuUsw9qR_AtCb.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 1150px;
  margin: auto;
}

.left-side {
  width: 60%;
  padding: 32px 24px;
}

.right-side {
  width:40%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
  color: rgb(80, 80, 80);
  line-height: 1.2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(80, 80, 80);
  line-height: 1.2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(100, 100, 100);
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  color: rgb(100, 100, 100)
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6rem;
  color: rgb(100, 100, 100)
}

p {
  font-size: 1rem;
  color: rgb(100, 100, 100);
}

.headline {
  text-align: center;
  padding: 32px 0
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }

  body {
    line-height: 1.2;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.92rem;
  }
}

/* header section */

header .container {
  display: flex;
  max-height: 64px;
  align-items: center;
  padding: 16px 24px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.logo img {
  height: 2.25rem;
}

.logo a {
  text-decoration: none;
}

.logo span {
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: grey;
}

.logo .colmar {
  font-weight: 700;
  color: rgb(80, 80, 80);
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav a {
  padding: 0 8px;
  color: black;
  text-decoration: none;
}

.desktop-lion {
  display: none;
}

@media only screen and (max-width: 755px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
  }
}

@media only screen and (max-width: 480px) {
  .logo span {
    display: none;
  }

  .mobile-lion {
    display: block;
  }

  nav {
    position: relative;
    right: 12px;
  }

  header .mobile {
    padding: 0;
  }
}

/* banner section */

.banner {
  background-color: rgb(220, 220, 220);
}

.banner .container {
  display: flex;
}

.left-side img {
  width: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 5.5rem;
  margin-right: 2.3rem;
}

.banner-content h3 {
  margin: 1.65rem 0;
}

.banner-content a {
  background-color: rgb(55, 55, 55);
  color: rgb(240, 240, 240);
  padding: 12px 0;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .banner-content {
    margin-top: 6.5rem;
  }

  .banner-content h3 {
    margin-top: 1.8rem;
    margin-bottom: 2.2rem;
  }
}

@media only screen and (max-width: 850px) {
  .banner {
    background-image: url("https://image.freepik.com/free-photo/top-view-of-people-studying-with-copybook-book-and-laptop-cups-of-coffee-on-the-table_2221-379.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25rem;
  }

  .banner .left-side {
    display: none;
  }

  .banner .right-side {
    width: 100%;
  }

  .banner-content {
    width: 45%;
    margin-top: 5rem;
    margin-left: 2rem;
    padding: 1rem;
    background-color: rgba(250, 250, 250, 0.8);
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 480px) {
  .banner {
    background-image: none;
    height: auto;
  }

  .banner .container {
    display: flex;
    flex-direction: column;
  }

  .banner .left-side {
    display: flex;
    width: 100%;
    padding: 0;
  }

.banner .left-side img {
  display: block;
  height: 100%;
}

  .banner .right-side {
    width: 100%;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    background: none;
    margin: 1rem 0;
    padding: 32px 16px;
    overflow: hidden;
  }

  .banner-content h3 {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .banner-content a {
    font-size: 18px;
  }
}

/* stories section */

/* stories left side */

.stories .container {
  display: flex;
}

.stories .left-side {
  border-right: 1px solid rgb(220, 220, 220);
}

.stories .left-side h2 {
  margin: 24px 0 24px 0;
}

.stories p {
  line-height: 1.2;
}

.stories h5 {
  margin: 32px 0 32px 0;
}

@media only screen and (max-width: 480px) {
  .stories .left-side {
    display: none;
    width: 100%;
  }
}

/* stories right side */

.stories .right-side {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0 0;
}

.story {
  display: flex;
  align-items: center;
  width: 100%;
}

.story img {
  width: 37%;
  padding: 16px;
}

.story-content {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.story-content p {
  font-size: 0.75rem;
  padding-top: 8px;
}

.story-content a {
  font-size: 0.95rem;
  color: rgb(79, 147, 249);
  font-weight: 500;
  padding-top: 10px;
  text-decoration: none;
}

.first.story {
  margin-bottom: 0.5px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.second.story {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  border-top: 1px solid rgb(220, 220, 220);
  border-bottom: 1px solid rgb(220, 220, 220);
}

.third.story {
  margin-top: 0.5px;
  border-top: 1px solid rgb(220, 220, 220);
}

@media only screen and (max-width: 850px) {
  .stories .desktop {
    display: none;
  }

  .stories .mobile {
    display: block;
  }

  .stories .container {
    flex-direction: column;
    overflow: hidden;
  }

  .stories .left-side {
    width: 100%;
    padding: 16px;
    border-right: initial;
  }

  .stories .left-side h2 {
    text-align: center;
  }

  .left-side img {
    display: none;
  }

  .stories .right-side {
    width: 100%;
  }

  .story-content {
    margin: 0 auto;
  }

  .story-content .mobile {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .story {
    flex-wrap: wrap;
  }

  .right-side .story img {
    width: 87%;
  }

  .stories .story-content {
    margin: 0;
    padding: 0 0 16px 16px;
  }

  .stories .story-content h3 {
    font-size: 18px;
  }

  .stories .story-content p {
    font-size: 15px;
  }

  .first.story {
    border-bottom: none;
  }

  .second.story {
    border-top: none;
    border-bottom: none;
  }

  .third.story {
    margin: 0 0 32px 0;
    border-top: none;
    border-bottom: 1px solid rgba(220, 220, 220, 0.8);
  }
}

/* courses section */

.learning {
  background-color: rgb(220, 220, 220);
  padding-bottom: 32px;
}

.learning .courses {
  width: 85%;
  margin: 0 auto;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  width: 31.6%;
  margin-bottom: 24px;
  background-color: white;
}

.course img {
  width: 100%;
}

.course-content {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 24px 16px;
}

.course-content span {
  font-size: .75rem;
  padding: 8px 0;
}

.course-content p {
  font-size: 0.95rem;
  line-height: 1.2;
}

.course-mobile {
  display: none;
}

@media only screen and (max-width: 755px) {
  .learning .courses {
    width: 94%;
  }
  .course {
    width: 48%;
  }
}

@media only screen and (max-width: 480px) {
  .learning {
    background-color: white;
  }

  .learning .container .courses {
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.8);
  }

  .course {
    display: none;
  }

  .course-mobile {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .course-mobile h3{
    width: 100%;
    background-color: rgb(220, 220, 220);
    padding: 16px;
    margin: 4px;
  }
}

/* thesis section */

.thesis .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(220, 220, 220);
}

/* thesis left side */

video {
  width: 100%;
}

.thesis-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.thesis-content h3 {
  padding: 24px 0 8px 0;
}

@media only screen and (max-width: 480px) {
  .thesis .left-side {
    width: 100%;
  }

  .thesis-content {
    display: none;
  }
}

/* thesis right side */

.box {
  display: flex;
  align-items: center;
}

.first-thesis.box {
  margin-top: 32px;
}

.box img {
  width: 35%;
  padding: 16px;
}

.box-content p {
  font-size: 0.75rem;
  padding-top: 8px;
}

@media only screen and (max-width: 480px) {
  .thesis .right-side {
    display: none;
  }
}

/* footer */

footer {
  display: flex;
  align-items: center;
  padding: 16px 0 36px 0;
}

footer h6 {
  margin-left: 24px;
}

footer nav {
  text-align: right;
  flex-grow: 1;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  footer {
    padding: 16px 0;
  }
}
