/* universal styles */

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(https://fonts.gstatic.com/s/nunitosans/v3/pe03MImSLYBIv1o4X1M8cc8GBs5tU1E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://fonts.gstatic.com/s/comfortaa/v12/1Ptsg8LJRfWJmhDAuUs4TYFq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url(https://fonts.gstatic.com/s/comfortaa/v12/1Ptpg8LJRfWJmhDAuUsw9qR_AtCb.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 1150px;
  margin: auto;
}

.left-side {
  width: 60%;
  padding: 32px 24px;
}

.right-side {
  width:40%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
  color: rgb(80, 80, 80);
  line-height: 1.2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(80, 80, 80);
  line-height: 1.2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(100, 100, 100);
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  color: rgb(100, 100, 100)
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6rem;
  color: rgb(100, 100, 100)
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 1rem;
  color: rgb(100, 100, 100);
}

.headline {
  text-align: center;
  padding: 32px 0
}

/* header section */

header .container {
  display: flex;
  max-height: 64px;
  align-items: center;
  padding: 16px 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2.25rem;
  margin-left: 24px;
}

.logo span {
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: grey;
}

.logo .colmar {
  font-weight: 700;
  color: rgb(80, 80, 80);
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav a {
  padding-left: 16px;
}

.mobile {
  display: none;
}

/* banner section */

.banner {
  background-color: rgb(220, 220, 220);
}

.banner .container {
  display: flex;
}

.left-side img {
  width: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 5.5rem;
  margin-right: 2.3rem;
}

.banner-content h3 {
  margin: 1.65rem 0;
}

.banner-content a {
  background-color: rgb(55, 55, 55);
  color: rgb(240, 240, 240);
  padding: 12px 0;
  margin-top: 1rem;
  text-align: center;
}

/* stories section */

/* stories left side */

.stories .container {
  display: flex;
}

.stories .left-side {
  border-right: 1px solid rgb(220, 220, 220);
}

.stories .left-side h2 {
  margin: 24px 0 24px 0;
}

.stories p {
  line-height: 1.2;
}

.stories h5 {
  margin: 32px 0 32px 0;
}

/* stories right side */

.stories .right-side {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.story {
  display: flex;
  align-items: center;
  width: 100%;
}

.story img {
  width: 37%;
  padding: 16px;
}

.story-content {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.story-content p {
  font-size: 0.75rem;
  padding-top: 8px;
}

.story-content a {
  font-size: 0.95rem;
  color: rgb(79, 147, 249);
  font-weight: 500;
  padding-top: 10px;
}

.first.story {
  margin-bottom: 0.5px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.second.story {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  border-top: 1px solid rgb(220, 220, 220);
  border-bottom: 1px solid rgb(220, 220, 220);
}

.third.story {
  margin-top: 0.5px;
  border-top: 1px solid rgb(220, 220, 220);
}

/* learning section */

.learning {
  background-color: rgb(220, 220, 220);
  padding-bottom: 32px;
}

.learning .courses {
  width: 85%;
  margin: 0 auto;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  width: 31.6%;
  margin-bottom: 24px;
  background-color: white;
}

.course img {
  width: 100%;
}

.course-content {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 24px 16px;
}

.course-content span {
  font-size: .75rem;
  padding: 8px 0;
}

.course-content p {
  font-size: 0.95rem;
  line-height: 1.2;
}

/* thesis section */

.thesis .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(220, 220, 220);
}

/* thesis left side */

video {
  width: 100%;
}

.thesis-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.thesis-content h3 {
  padding: 24px 0 8px 0;
}

/* thesis right side */

.box {
  display: flex;
  align-items: center;
}

.first-thesis.box {
  margin-top: 32px;
}

.box img {
  width: 35%;
  padding: 16px;
}

.box-content p {
  font-size: 0.75rem;
  padding-top: 8px;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  padding: 16px 0 36px 0;
}

footer h6 {
  margin-left: 24px;
}

footer nav {
  text-align: right;
  flex-grow: 1;
  font-size: 0.8rem;
}
